*.json
*.pdf
*.vscode
*.ods
**/.vscode
**/.venv
**/.ipynb_checkpoints
*.pyc
*.dia~
*.aux
*.log
*.dvi
*.swp
*.js
*.html
*.css
*.woff

!./docs/250106/wie-china-unter-xi-das-internet-kontrolliert-ld.html